
html, body, main {
    height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  width: 500px;
  height: 550px;
  position: fixed;
  background-position: top center;
  animation: obake-animation 3s linear infinite;
  -webkit-animation: obake-animation 3s linear infinite;
}

.obake-01 {
  background: url("../img/obake01.png") no-repeat;
}
.obake-01:hover{
  background: url("../img/obake02.png") no-repeat;
}

@-webkit-keyframes obake-animation {
  50% {
    margin-top: -80px;
  }
}

